@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9em;
    background-color: #000;
}
header{
    margin-bottom: 25px;
    text-align: center;
}
section{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 90vw;
    height: 90vh;
    border: 1px solid rgb(20,20,80);
    border-radius: 10px;
    
}
h1,label,h4{
    color: #fff;
}
main{
    margin-top: 30px;
}
form{
    display: flex;
 
    flex-direction: column;
}
label{
    margin-bottom: 12px;
}
.Input-Email, .Input-Password{
    
    height: 37px;
    width: calc(95% - 10px);
    background-color: #202024;
    outline: none;
    border: none;
    padding-left: 15px;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s;
}
.Input-Email:focus, .Input-Password:focus{
    width: calc(100% - 5px);
    transition: 0.4s;
    border: 1px solid #81D8F7;
}
.Section-Email label, .Section-Password label{
    margin-left: 10px;
}
.Section-Email{
    margin-bottom: 15px;
}
.Section-Email, .Section-Password{
    display: flex;
    flex-direction: column;
}
.Email-Align, .Senha-Align{
    display: grid;
    place-items: center;
} 
footer{
    margin-top: 30px;
    text-align: center;
}
.submit{
    width: 95%;
    height: 34px;
    margin-bottom: 20px;
    background-color: #81D8F7;
    border: none;
    border-radius: 5px;
}

.checkbox{
    margin-top: 15px;
}
h4{
    font-weight: 400;
    font-size: 9pt;
}
h1{
    color: #E1E1E6;
}
#gray-color{
    color: #7C7C7A;
}

img{
    width: 110px;
    height: 110px;
    margin-bottom: 5px;
    animation: animate 10s infinite ease-in;
}

#Remember{
    margin-left: 3px;
    font-size: 13px;
    font-weight: 300;
}
#Forgot{
    margin-top: 10px;
}
#footer-down{
    display: flex;
    flex-direction: column;
}
#footer-down a{
    margin: 2px 0px 2px 0px;
    color: #7C7C7A;
}
#Footer-Text-Two{
    margin-top: 5px;
}
.checkbox{
    margin-left: 10px;
}
@keyframes animate{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);

    }
}

